.popup__container{
<<<<<<< HEAD
  /*position: absolute;
  top: 195px;
  left: calc(50vw - 215px);*/
=======
  position: absolute;
  top: calc(50vh - 165px);
  left: calc(50vw - 215px);
>>>>>>> develop
  display: flex;
  max-width: 430px;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  color: black;
  margin: 0 auto;
}


@media screen and (max-width: 768px){
  .popup__container{
    max-width: 282px;
<<<<<<< HEAD
    /*top: 123px;
    left: calc(50vw - 141px);*/
=======
    max-height: 322px;
    top: calc(50vh - 161px);
    left: calc(50vw - 141px);
>>>>>>> develop
  }
}