.popup__container{
  position: absolute;
  top: 195px;
  left: calc(50vw - 215px);
  display: flex;
  max-width: 430px;
  max-height: 330px;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  color: black;
  margin: 0 auto;
}


@media screen and (max-width: 768px){
  .popup__container{
    max-width: 282px;
    max-height: 322px;
    top: 123px;
    left: calc(50vw - 141px);
  }
}