.person__edit-button{
  padding: 7px;
  max-width: 24px;
  max-height: 24px;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 18px;
  border: 1px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.person__edit-button:hover{
  opacity: .6;
  cursor: pointer;
}

.person__edit-button:active{
  outline:none;
}

@media screen and (max-width: 768px) {
  .person__edit-button{
    padding: 5.25px;
    max-width: 18px;
    max-height: 18px;
    margin-left: 10px;
  }
}