.person__add-place{
  padding: 10.5px 62px;
 
  max-width: 150px;
}

@media screen and (max-width: 1279px) {
  .person__add-place{
    margin: 0;
    padding: 10.5px 128px;
    max-width: 282px;
  }
}