.popup__close-icon{
  max-width: 56.56px;
  max-height: 56.56px;
  margin: 0;
  position: absolute;
  top: 146px;
  left: calc(50vw + 206.72px);
}

.popup__close-icon:hover{
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .popup__close-icon{
    top: 72.62px;
    left: calc(50vw + 104.24px);
    max-width: 36.76px;
    max-height: 36.76px;
  }
}