.popup__close-icon{
  max-width: 40px;
  max-height: 40px;
  margin-top: 146px;
  margin-left: 66vw;
}

.popup__close-icon:hover{
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .popup__close-icon{
    margin-left: 82.5vw;
    margin-top: 22.5vw;
  }
}

@media screen and (max-width: 320px){
  .popup__close-icon{
    margin-top: -20px;
    margin-left: 264px;
  }
}