.popup__field_span_error{
  margin: 0;
  margin-top: 5px;
  margin-bottom: 13px;
  margin-left: 36px;
  max-width: 358px;
  min-height: 30px;
  font-size: 12px;
  line-height: 15px;
  color: red;
  visibility: hidden;
}

@media screen and (max-width: 768px){
  .popup__field_span_error{
    max-width: 238px;
    margin: 5px auto 0 22px;
  }
}